@import url(./style.css);


#carrousel {
    display: flex;
    border: solid 10px red;
    max-width: 800px;
    min-height: 510px;
    position: relative;
    overflow: hidden;
    }

#carrousel-container {
    max-width: 800px;
    max-height: 510px;
    display: flex; 
}
#carrousel-container img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.bouton {
    position: absolute;
    height: 28px;
    width: 28px;
    top: 50%;
    transform: translateY(-50%);

    background-color:rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    user-select: none;
}

.bouton.prev {
    left: 10px;
    
}

.bouton.next {
    
    right: 10px;
}

.details{
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: var(--details-background);
    flex:1;
    align-self:flex-start;
}

.stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    gap:2rem;
    margin-top:3rem;
    margin-bottom: 3rem;
}

.description{
    max-width: 100%;
    word-wrap:break-word;
}

.bot-right-buy{
    display:flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-self: flex-end;
    align-items: center;
}

#price{
    font-size:var(--font-size-h1);
    margin-right: 10rem;
    color: var(--bouton-color);

}
.bot-right-buy button{
    font-size:var(--font-size-h1);
    background-color: var(--bouton-color);
    margin-right: 5rem;
    padding: 1rem;
    border-radius: 15px;
    border: transparent, 4px;
    cursor:pointer;
    transition:transform 0.5s ease;
}
.bot-right-buy button:hover{
    border:solid;
    transform: scale(1.1);
    transform: rotateX(360deg);
    animation: borderColorCycle 8s linear infinite;
}