*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
:root{
    --text-color:#f6f6f6;
    --header-footer-color:#111111;
    --background-color:#2f2f2f;
    --card-color:#f6f6f6;
    --bouton-color:#ffcb74;
    --card-text-color:#111111;
    --details-background: #1f1f1f;

    /* text sizes*/

    --font-size-body:1.25rem; /* 20px */
    --font-size-h1:3rem; /* 48px */
    --font-size-h2:2.25rem; /* 36px */
    --font-size-h3:1.75rem; /* 28px */

}



@keyframes pulse{
    0%, 100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.05);
    }
}


@keyframes borderColorCycle {
  0%   { border-color: rgb(255, 0, 0); }   
  10%  { border-color: rgb(255, 128, 0); }  
  20%  { border-color: rgb(255, 255, 0); }   
  30%  { border-color: rgb(128, 255, 0); } 
  40%  { border-color: rgb(0, 255, 0); }  
  50%  { border-color: rgb(0, 255, 128); } 
  60%  { border-color: rgb(0, 255, 255); } 
  70%  { border-color: rgb(0, 128, 255); }   
  80%  { border-color: rgb(0, 0, 255); }     
  90%  { border-color: rgb(128, 0, 255); }   
  100% { border-color: rgb(255, 0, 0); }     
}







body,html{
    display: flex;
    flex-direction: column;
    background: transparent;
    color:var(--text-color);
    min-height: 100vh;
}

#main{
    flex-grow: 1;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
    
h1{
    font-size:var(--font-size-h1);
}

h2{
    font-size: var(--font-size-h2);
}

h3{
    font-size:var(--font-size-h3);
}

header, footer{
    width:100vw;
    background-color: var(--header-footer-color);
}

.headContainer{
    position:fixed;
    top:1rem;
    left:50%;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 1200px;
    background-color: var(--header-footer-color);
    border:1px solid rgba(255 255 255 /0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 /0.7);
    z-index: 1000;
    user-select: none;
    padding: 0.5rem 2rem;
}



.flex-container{
    display : flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: nowrap;
}

.logo-link{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 50px;
    width: auto;
    display: block;
}

.nav-links{
    display: flex;
    gap: 2rem;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.navItem{
    background-color: inherit;
    color: var(--card-color);
    padding: 0.1rem 0.1rem;
    border-radius: 8px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    user-select: none;
    white-space: nowrap;
}

.navItem:hover{
    background-color: var(--bouton-color);
    color: var(--header-footer-color);
}


.right{
    display: flex;
    gap:1rem;
    margin-left: 1rem;
}


.icon-link img{
    height: 32px;
    width: 32px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon-link img:hover{
    transform: scale(1.1);
}


.companyName{
    font-size:var(--font-size-h1);
    color:var(--text-color);
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar form{
    display :flex;
    align-items: center;
    max-width: 100%;
}
.searchBar input[type="search"]{
    font-size:var(--font-size-body);
    height:3rem;
    max-width: 100%;
    border-radius:20px;
    padding-left: 1rem;
}

.searchBar .search-button{
    position: relative;
    cursor:pointer;
    background-color: var(--bouton-color);
    height: 3rem;
    width: 3rem;
    right:3.0rem;
    border-radius:20px;
}
.searchBar img{
    position: inherit;
    height: 100%;
    width: 100%;
}

.category {
  flex: 1 1 250px;
  max-width: 250px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center; 
}

.category a{
    background-color: var(--card-color);
    border-radius: 10px;
    border:transparent , 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    color:var(--card-text-color);
    transition:transform 1s ease;
    
}
.category a:hover{
    border:solid;
    transform: scale(1.1);
    animation: borderColorCycle 8s linear infinite;
}



.products-container{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    align-items: center;
    gap:1rem;
    padding:2rem 2rem;
    justify-content: space-evenly;
}

.product{
    height:450px;
    width:390px;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    padding: 1rem 1rem;
    gap:1rem;
    margin-bottom:2rem;
}

.product a{
    background-color: var(--card-color);
    border-radius: 10px;
    border: transparent, 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    transition:transform 1s ease;
    color:var(--card-text-color);
}

.product a:hover{
    border:solid;
    transform: scale(1.1);
    animation: borderColorCycle 8s linear infinite;

}

.product h2{
    background-color: var(--bouton-color);
    margin-top: 1rem;
    padding:1rem 1rem;
    border-radius: 15px;
    animation: pulse 4s infinite;
}

.stars {
    display :flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap:0.3rem;
    max-width: 100%;
}

.stars img{
    width: 36px;
    height: auto;
    flex-shrink: 1;
}



footer{
    display :flex;
    align-items: center;
    justify-content: center;
}


a{
    color:inherit;
    text-decoration: none;
}

.hamburger-btn{
    display: none;
    background: none;
    border: none;
    font-size:2rem;
    color:var(--text-color);
    cursor: pointer;
}



#carrousel {
    display: flex;
    border: solid 10px red;
    max-width: 800px;
    min-height: 510px;
    position: relative;
    overflow: hidden;
    }

#carrousel-container {
    max-width: 800px;
    max-height: 510px;
    display: flex; 
}
#carrousel-container img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.bouton {
    position: absolute;
    height: 28px;
    width: 28px;
    top: 50%;
    transform: translateY(-50%);

    background-color:rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    user-select: none;
}

.bouton.prev {
    left: 10px;
    
}

.bouton.next {
    
    right: 10px;
}

.details{
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: var(--details-background);
    flex:1;
    align-self:flex-start;
}

.stars{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    gap:2rem;
    margin-top:3rem;
    margin-bottom: 3rem;
}

.description{
    max-width: 100%;
    word-wrap:break-word;
}

.bot-right-buy{
    display:flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-self: flex-end;
    align-items: center;
}

#price{
    font-size:var(--font-size-h1);
    margin-right: 10rem;
    color: var(--bouton-color);

}
.bot-right-buy button{
    font-size:var(--font-size-h1);
    background-color: var(--bouton-color);
    margin-right: 5rem;
    padding: 1rem;
    border-radius: 15px;
    border: transparent, 4px;
    cursor:pointer;
    transition:transform 0.5s ease;
}
.bot-right-buy button:hover{
    border:solid;
    transform: scale(1.1);
    transform: rotateX(360deg);
    animation: borderColorCycle 8s linear infinite;
}

.wrap{
    flex-wrap: wrap;
}

.legal{
    display: flex;
    flex-direction: column;
    margin-left:2rem;
    margin-right: 2rem;

}

.legal h1{
    margin-bottom: 4rem;
}
.legal h2{
    margin-top :1rem;
    margin-bottom: 2rem;
}
.legal p{
    margin-bottom :1rem;
}

.legal a{
    color:var(--bouton-color);
}



cart-flex{
    display: flex;
    flex-direction:column;
    overflow-y: auto;
    gap:1rem;
    padding: 1rem;
    border: 2px solid var(--background-color);
    border-radius: 8px;
    max-height: 800px;
    min-height: 400px;
}

cart-item{
    flex: 0 0 auto;
    width :90%;
    max-height: 150px;
    background: var(--details-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

/*Tablet*/
@media (min-width: 768px) and (max-width:1024px) {
    :root{
        --font-size-body:1.125rem; /* 18px */
        --font-size-h1:2.25rem; /* 36px */
        --font-size-h2:1.875rem; /* 30px */
        --font-size-53:1.375rem; /* 22px */
    }
     .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top:60px;
        left:0;
        right:0;
        background-color: var(--header-footer-color);
        border-radius:8px ;
        padding: 1rem;
        box-shadow: 0 0 10px rgb(0 0 0 /0.5);
        z-index: 1001;
    }
    .nav-links.active{
        display: flex;
    }
    .hamburger-btn{
        display: block;
    }

}



/*Mobile*/
@media (max-width: 768px){
    :root{
        --font-size-body: 1rem; /* 16px */
        --font-size-h1:1.75rem; /* 28px */
        --font-size-h2:1.5rem; /* 24px */
        --font-size-h3:1.25rem; /* 20px */
    }


    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top:60px;
        left:0;
        right:0;
        background-color: var(--header-footer-color);
        font-size: var(--font-size-body);
        border-radius:8px ;
        padding: 1rem;
        box-shadow: 0 0 10px rgb(0 0 0 /0.5);
        z-index: 1001;
    }
    .nav-links.active{
        display: flex;
    }
    .hamburger-btn{
        display: block;
    }


}